@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

ul > li>div{
    opacity: 0;
    color:red;
    position: absolute;
    left: 0;
    top:0;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 10px;
    font-size: 1.5rem;
}
ul > li>div:hover{
    opacity: 1;
    color:red;
}
// ul>li{border:1px solid black;}
// .miBoton{
//     opacity: 0;
//     border:1px solid black;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0; 
// }

// .miBoton:hover{
//     opacity: 1;
//     transition: all .5s;
//     border:1px solid black;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0; 

// }
