@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
ul>li{border:1px solid black;}
.miBoton{
    opacity: 0;
    border:1px solid black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
}

.miBoton:hover{
    opacity: 1;
    transition: all .5s;
    border:1px solid black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 

}
